:root {
  --body-bg: #282c34;
  --body-color: #fff;
}

.App {
  background-color: var(--body-bg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 1.1rem;
  color: var(--body-color);
}

.form-control {
  margin-bottom: 1.2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* .form-control label {} */

.form-control input {
  background-color: transparent;
  color: #ccc;
  border: none;
  outline: none;
  padding: 8px 10px;
  margin-left: 2rem;
  font-size: 1rem;
  box-shadow: 0 0 10px 0 #aaa;
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;

  &[type=submit] {
    color: #ccc;
    font-size: 1rem;
    width: 60%;
    margin: 1.2rem 0 0 auto;
    cursor: pointer;
  }
}

table {
  margin-top: 3rem;
  margin-bottom: 8rem;
  width: 70%;

  thead td {
    font-weight: 900;
  }
}

.btn {
  background-color: transparent;
  color: #ccc;
  border: none;
  cursor: pointer;
  padding: 2px 8px;
  box-shadow: 0 0 6px #aaa;
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
}